# Zensical build output
site/

# Python virtual environment
.venv/
venv/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
